
.academy-link__title {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-right: 12px;

  @media (min-width: $tablet) {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    height: 21px;
  }
}

.academy-link__logo {
  width: 26px;
  height: 34px;
  fill: currentColor;
}

.academy-link__button-site{
  color: #000000;
  margin-top: 8px;
  display: flex;
  align-items: center;

  &:hover {
    color: #81b3d2;
  }

  &:focus {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}
