.checkbox {
  text-align: center;
  width: 280px;
  border: none;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet) {
    width: 648px;
    margin: 20px 60px 54px 60px;
  }

  @media (min-width: $desktop) {
    margin: 30px auto 0;
  }
}

.checkbox__list {
  list-style-type: none;
  padding: 0;
  margin-top: 17px;

  @media (min-width: $tablet) {
    display: flex;
    width: 480px;
    margin: 15px auto 0;
    flex-wrap: wrap;
    gap: 17px 30px;
  }

  @media (min-width: $desktop) {
    margin: 48px auto 100px;
    display: flex;
    width: 870px;
    gap: 17px 64px;
  }
}

.checkbox__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-top: 19px;

  @media (min-width: $tablet) {
    font-size: 21px;
    width: 308px;
    height: 52px;
    margin: 0 auto;
  }
}

.checkbox__item {
  @media (min-width: $tablet) {
    width: 224px;
    height: 46px;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 18px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }

  & + & {
    margin-top: 16px;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }
}

