.checkbox-block__mark {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.checkbox-block__label {
  display: flex;
  align-items: center;
}

.checkbox-block__input:checked + .checkbox-block__label .checkbox-block__mark {
  &::after {
    content: "";
    width: 22px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/form/tick.svg");
    background-size: 100% 100%;
  }
}
