.contacts__hashtag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet) {
    width: 166px;
    height: 26px;
    margin-left: 46px;
  }
}

.contacts__wrapper {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablet) {
    width: 128px;
    height: 34px;
    display: flex;
    margin-right: 76px;
    margin-bottom: 43px;
  }
}

.contacts__social {
  margin-top: 32px;
  list-style-type: none;
}

.contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet) {
    width: 100%;
    height: 120px;
  }
}

