.contacts__hashtag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: -12px;

  @media (min-width: $tablet) {
    width: 166px;
    height: 26px;
    margin: 0;
    padding-top: 8px;
    margin-top: -41px;
  }
}

.contacts__wrapper {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-top: 40px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 15px 77px 35px 47px;
  }

  @media (min-width: $desktop) {
    padding: 15px 135px 40px 104px;
  }
}

.contacts__wrapper--index {
  margin-top: 48px;

  @media (min-width: $tablet) {
    margin-top: 16px;
  }
}

.contacts__social {
  margin-top: 38px;
  list-style-type: none;
}

.contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet) {
    width: 100%;
  }
}
