.content-block__list {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.content-block__item {
  @media (min-width: $desktop) {
    width: 100%;
  }
}

.content-block__video {
  display: block;
  text-align: center;
  padding: 0 22px;
  width: 100%;
  margin-top: 32px;

  @media (min-width: $tablet) {
    padding: 10px 60px 56px 60px;
    margin-top: 40px;
  }

  @media (min-width: $desktop) {
    padding: 22px 201px 102px 201px;
  }
}
