.hero-block {
  background-image: url("../img/main/back-mobile.jpg");
  background-color: $background-color;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 19px 85px 19px;
  position: relative;

  &::after {
    background-image: url("../img/main/intro-triangle.svg");
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: auto 57px;
    width: 320px;
    height: 57px;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    width: 100%;
    height: 518px;
    background-image: url("../img/main/back-desktop.jpg");
    padding-top: 78px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main/back-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    padding: 78px 0 90px;
  }
}

.hero-block--inside {
  padding: 52px 19px 66px 19px;
  background-position: center;

  @media (min-width: $tablet) {
    height: 290px;
    padding-top: 92px;
  }

  @media (min-width: $desktop) {
    height: 300px;
    padding-top: 102px;
  }
}

.hero-block__wrapper {
  @media (min-width: $tablet) {
    padding: 0;
  }
}

.hero-block__banner {
  display: block;
  margin-top: -7px;

  @media (min-width: $tablet) {
    width: 460px;
    height: 350px;
    margin: 0 auto;
  }
}

.hero-block__banner--catalog-banner {
  width: 230px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 456px;
    height: 78px;
    background-size: 768px 290px;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}
