.item__photo {
  background-color: $background-color;
  width: 100%;
  margin-top: 22px;

  @media (min-width: $tablet) {
    object-fit: cover;
    display: block;
    height: 256px;
  }
  @media (min-width: $desktop) {
    object-fit: cover;
    display: block;
  }
}

.item__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 11px;
}

.item__description {
  margin-top: 17px;
}

.item__number {
  margin-top: 11px;
  color: #ffffff;
}

.item__text-block {
  background-color: $background-color;
  padding: 37px 18px;

  @media (min-width: $tablet) {
    width: 33.33%;
    height: 256px;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $desktop) {
    width: 33.33%;
  }
}

.item__text-block--city {
  color: #ffffff;
  margin-top: 71px;
  margin-bottom: -22px;
  position: relative;
  padding: 49px 18px 26px;

  &::after {
    background-image: url("../img/main/white-copy.svg");
    position: absolute;
    top: -21px;
    left: 0;
    background-position: center;
    height: 37px;
    background-size: auto 100%;
    width: 100%;
    content: "";
  }
}

.item__text-block--bridge {
  color: #ffffff;
  margin-top: 38px;
  margin-bottom: -34px;
}

.item__template {
  @media (min-width: $tablet) {
    width: 256px;
    height: 256px;
    color:  #000000;
  }

  @media (min-width: $desktop) {
    width: 400px;
  }
}

.item--text-item {
  padding-top: 25px;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: -6px;

  @media (min-width: $tablet) {
    width: 33.33%;
    padding: 52px 33px 31px 33px;
    height: 256px;
  }

  @media (min-width: $desktop) {
    padding: 63px 50px 41px 50px;
  }
}

.item--text-item:nth-child(2) {
  margin-top: 20px;

  @media (min-width: $desktop) {
    padding: 52px 50px 51px 50px;
  }
}
.item--someshit {
  color: #ffffff;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
  }
}
