.main-nav {
  position: relative;
}
.main-nav__toggle{
  position: absolute;
  width: 68px;
  height: 56px;
  cursor: pointer;
  border: none;
  z-index: 2;
  top: -120px;
  right: 0;
  background-color: transparent;

    @media (min-width: $tablet) {
      display: none;
    }
  }

.main-nav--closed .main-nav__toggle::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -8px);
  background-color: #81B3D2;
  box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 5px 0 0 fade(#ffffff, 30%),
    0 10px 0 0 fade(#ffffff, 30%);
}
.main-nav--opened .main-nav__toggle{
  right: 5px;
  top: -100px;

  &::after, &::before {
    position: absolute;
    content: "";
    box-shadow: none;
  width: 23px;
  height: 4px;
  background-color: #ffffff;
  }

&::after{
  transform: rotate(45deg);
}
&::before{
  transform: rotate(-45deg);
}
&:active::before,
&:active::after {
  background-color: fade(#ffffff, 30%);
}
}
.main-nav--opened .main-nav__menu-list{
  @media (max-width: $tablet - 1px) {
    width: 100%;
    height: 223px;
    background-color: #81B3D2;
    position: absolute;
    top: -117px;
    box-shadow: inset 0px -7px 7px rgba(0, 0, 0, 0.2);
  }
}
