.main-header {
  background-color: $base-color;
  position: relative;
  height: 56px;
  z-index: 1;

  @media (min-width: $tablet) {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}

.main-header--nojs {
  height: auto;
}

.main-header__logo {
  margin: 0 auto;

  @media (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
