.page-footer {
  list-style-type: none;
}

.page-footer__map {
  margin-top: 50px;
  max-width: 100%;

  @media (min-width: $tablet) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: $desktop) {
    width: 1200px;
  }
}

.page-footer__copyright {
  margin-top: 33px;
  display: flex;
  margin-left: 96px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
