.radio-block__mark-radio {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.radio-block__label {
  display: flex;
  align-items: center;
}

.radio-block__input:checked + .radio-block__label .radio-block__mark-radio {
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio-block__input:focus + .radio-block__label .radio-block__mark-radio {
  background-color: #e5e5e5;
}
