.review-block {
  padding-bottom: 30px;
}

.review-block__button {
  background-color: $background-color;
  width: 280px;
  height: 58px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 37px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 49px;
  color: #ffffff;
  border: none;

  @media (min-width: $tablet) {
    width: 324px;
    height: 58px;
    margin: 0 auto 0 0;
  }

  @media (min-width: $desktop) {
    width: 384px;
  }
}

.review-block__subtitle {
  font-size: 12px;
  line-height: 21px;
  margin-top: 3px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  margin-left: 164px;

  @media (min-width: $tablet) {
    font-size: 14px;
  }
}

.review-block__primary-block {
  @media (min-width: $tablet) {
    display: flex;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0 117px 10px;
  }
}

.review-block__radio {
  text-align: center;

  @media (min-width: $tablet) {
    padding: 48px 60px 28px;
    align-items: center;
  }
}

.review-block__footer {
  @media (min-width: $tablet) {
    display: flex;
    width: 648px;
    margin: 49px auto 51px auto;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 768px;
  }
}
