.review-texts {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  color: #000000;
  margin-top: 23px;

  @media (min-width: $tablet) {
    margin: 0 auto;
    padding: 0;
    display: grid;
    width: 648px;
  }
}

.review-texts__text {
  height: 118px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #f2f2f2;
  margin-top: 20px;
  width: 280px;

  @media (min-width: $tablet) {
    width: 648px;
    height: 160px;
  }
}

.review-texts__text--noresize {
  resize: none;
  height: 150px;
  padding: 17px;

  @media (min-width: $tablet) {
    margin-top: 28px;
    height: 160px;
  }

  @media (min-width: $desktop) {
    width: 768px;
  }
}

.review-texts__field {
  @media (min-width: $tablet) {
    font-size: 21px;
    width: 402px;
    height: 26px;
    margin: 0 auto;
  }
}
