.social {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 33px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-top: 4px;
  }
}

.social__link {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #669EC0;
  }
  &:focus {
    background-color: #669EC0;
  }
  &:active {
    background-color: #5496BD;
    opacity: 0.3;
  }
}
