.social {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 300px;
  justify-content: center;
  margin: 33px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-top: 4px;
    margin-left: 28px;
  }
}

.social--form {
  @media (min-width: $tablet) {
    margin-left: 6px;
  }
}

.social--catalog {
  @media (min-width: $tablet) {
    margin-left: 9px;
  }
}

.social__svg {
  fill: #ffffff;
}

.social__link {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #669ec0;
  }

  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social__svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
