.sublist {
  font-size: 14px;
  line-height: 21px;
  list-style-type: none;
  margin: 0 18px 40px 18px;
  background-color: $base-color;
  padding: 0;

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: $base-color;
    flex-wrap: wrap;
  }
}

.sublist__item {
  margin-top: 27px;
  position: relative;
  text-align: left;
  padding-left: 47px;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    position: absolute;
    top: 0;
    left: 0;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet) {
      margin: 0 auto;
      position: static;
      display: block;
      margin-bottom: 26px;
      width: 77px;
      height: 72px;
      background-size: 77px 72px;
    }
  }

  &--housing::before {
    background-image: url("../img/main/icon-house-advantages.svg");
    margin-top: -10px;
  }

  &--food::before {
    background-image: url("../img/main/icon-burger-advantages.svg");
    margin-top: -5px;

    @media (min-width: $tablet) {
      margin-bottom: 18px;
    }
  }

  &--souvenire::before {
    background-image: url("../img/main/icon-gift-advantages.svg");
    top: -9px;

    @media (min-width: $tablet) {
      margin-bottom: 14px;
    }

    @media (min-width: $tablet) {
      width: 78px;
      height: 75px;
      margin-bottom: 24px;
    }
  }

  @media (min-width: $tablet) {
    width: 256px;
    margin: 0 auto;
    padding: 70px 33px 20px;
    text-align: center;
    min-height: 331px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    padding: 80px 60px 59px 60px;
  }
}

.sublist__item--food {
  margin-top: 30px;
  position: relative;
  text-align: left;
  padding-left: 47px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-left: 33px;
  }

  @media (min-width: $desktop) {
    padding-left: 58px;
  }
}

.sublist__item--souvenire {
  margin-top: 36px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding: 59px 40px 20px;
  }

  @media (min-width: $desktop) {
    padding-top: 70px;
  }
}
