.user-contacts {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  display: block;
  margin-top: 12px;

  @media (min-width: $tablet) {
    width: 50%;
    padding: 0 0 0 23px;
    margin-left: 9px;
    margin-top: 16px;
  }

  @media (min-width: $desktop) {
    padding-left: 109px;
    margin-left: 3px;
    margin-top: 6px;
  }
}

.user-contacts__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 26px;
    width: 278px;
    height: 26px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: auto;
    text-align: left;
    padding-left: 45px;
  }
}

.user-contacts__field {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-position: 222px;
  background-size: 58px 58px;
  background-repeat: no-repeat;
  height: 58px;
  width: 280px;
  margin-top: -14px;
  padding-left: 12px;
  color: #000000;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
  }

  @media (min-width: $tablet) {
    margin: 0 0 0 17px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    background-position: right center;
  }
}

.user-contacts__field--phone {
  background-image: url("../img/form/phone-frame.svg");
  appearance: none;
}

.user-contacts__field--mail {
  background-image: url("../img/form/mail-frame.svg");
}

.user-contacts__subtitle {
  font-size: 14px;
  line-height: 21px;
  margin-left: -88px;
  margin-top: 17px;
  color: #333333;

  @media (min-width: $tablet) {
    text-align: left;
    margin: 25px 0 0 34px;
  }

  @media (min-width: $desktop) {
    margin-left: 30px;
  }
}

.user-contacts__subtitle--mail {
  margin-left: -100px;
  margin-top: 17px;

  @media (min-width: $tablet) {
    margin: 17px 0 0 34px;
  }
}
