@import "var.scss";
@import "fonts.scss";
@import "global.scss";
@import "blocks/page.scss";
@import "blocks/main-header.scss";
@import "blocks/logo.scss";
@import "blocks/main-container.scss";
@import "blocks/hero-block.scss";
@import "blocks/hero-texts.scss";
@import "blocks/advantages.scss";
@import "blocks/sublist.scss";
@import "blocks/hotel-search.scss";
@import "blocks/contacts.scss";
@import "blocks/academy-link.scss";
@import "blocks/page-footer.scss";
@import "blocks/intro.scss";
@import "blocks/review-block.scss";
@import "blocks/main-info.scss";
@import "blocks/user-contacts.scss";
@import "blocks/content-block.scss";
@import "blocks/menu-list.scss";
@import "blocks/video.scss";
@import "blocks/content-card.scss";
@import "blocks/radio.scss";
@import "blocks/checkbox.scss";
@import "blocks/review-texts";
@import "blocks/item.scss";
@import "blocks/main-nav";
@import "blocks/social.scss";
@import "blocks/radio-block.scss";
@import "blocks/checkbox-block.scss";
